PORT=5000
NODE_ENV=development
CLIENT_URL=https://localhost:3000

MONGO_URI=mongodb+srv://...
REDIS_URL=rediss://...             # Upstash URL (rediss:// for TLS)
REDIS_TLS=true                     # set false for local non-TLS Redis

GEMINI_API_KEY=enter here
AUTH_TOKEN=enter auth token
